<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Notification from FlowFree.</h1>
  <p>
    The following gauges have met the flow conditions you indicated you wished to be notified on.<br/>
  </p>
  <p>
    <%= @rivers.each do |r| %>
    Site Name: <%= r.site_name %><br />
    Site Code: <%= r.site_code %><br />
    Current Flow: <%= r.cfs_value %> cfs<br /><br />
    <% end %>
  </p>
  <p>You can manage your notifications by signing into FlowFree.</p>
  <p>-The FlowFree Team</p>
</body>
</html>
