<% provide(:title, "FlowFree") %>
<div class="row">
  <div class="span12">
    <h3>Site Description</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quisquam, cumque excepturi vel ratione magnam saepe nobis fuga quae atque facere animi molestiae perspiciatis natus facilis consequuntur optio sapiente aperiam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio tempora expedita enim dolore quos veniam quo. Saepe, cupiditate, deserunt error praesentium totam suscipit voluptates at itaque incidunt laborum quae officia!</p>
  </div>
</div>
<div class="row">
  <div class="span10 offset1">
    <h1>Search for River Flows By State</h1>
    <%= image_tag('USA_USA.jpg', class: "img") %>
  </div>
</div>
<div class="row">
  <div class="span4 offset4">
    <%= form_tag @rivers do %>
    <%= select_tag :state, options_for_select(us_states) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>Map of Location Choices</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, odit, accusantium, tenetur reprehenderit assumenda maiores deserunt ipsam quas consequuntur unde at natus laboriosam fuga beatae dolores amet doloremque rerum quos!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, qui, maxime, fugit, iste doloribus excepturi consequuntur nemo optio tenetur voluptatem ratione blanditiis. Nobis, possimus similique commodi modi recusandae accusamus ut.</p>
  </div>
</div>



