<% provide(:title, "FlowFree") %>
<div class="span12">
  <h1>Search for River Flows By State</h1>
  <p>HERE WE SHOULD HAVE A DROP DOWN MENU WHERE YOU CAN SELECT WHICH STATE YOU WOULD LIKE...</p>
</div>
<div class="row">
  <div class="span4">
    <h3>Map of Location Choices</h3>
  </div>
  <div class="span8">
    <h3>Site Description</h3>
  </div>
</div>



