<% provide(:title, "FlowFree") %>
<div class="span12">
  <h1>Search for River Flows By State</h1>
</div>
<div class="row">
  <div class="span12">
    <h2>Site Description</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Map of Location Choices</h2>
  </div>
</div>



