body {
 background-image: image-url('river1440.jpg');
 background-repeat: repeat;
 background-position: absolute;
 font-family: "PT Sans Narrow";
}

body p {
 font-size: 18px;
 line-height: 23px;
 color: #1B2D3F;
}

a {
  color: #3B5872;
  &:hover {
    color: #1B2D3F;
  }
}

div.content {
  background-color: #92ACBE;
  padding: 13px 0;
  max-width: 938px;
}

div.content2 {
  background-color: #92ACBE;
  padding: 13px 13px;
  max-width: 938px;
}

.content p {
  text-align: justify;
}

h1,h2,h3,h4 {
  font-family: "Oswald";
  color: #1B2D3F;
}

h1 {
  font-size: 3em;
}

/* HEADER STYLING!!! */
.header {
  height: 150px;
}

.banner-link {
  font-family: Ariel;
}

h2 {
  text-align: center;

a.brand {
  font-family: 'Permanent Marker', cursive;
  color: #FFF;
  text-shadow: 2px 2px 10px rgba(27, 45, 63, 1);
  -moz-transition: text-shadow 200ms ease-out;
  -webkit-transition: text-shadow 200ms ease-out;
  -o-transition: text-shadow 200ms ease-out;
  transition: text-shadow 200ms ease-out;
  &:hover {
    color: #FFF;
    text-shadow: 2px 2px 7px rgba(59, 88, 114, 1);
  }
}


.button-group {
  padding-top: 27px;
}

.button {
  background-color:#3B5872;
  border-color: #BED1D8;
  font-family: "Oswald";
  &:hover {
    background-color: #1B2D3F;
  }
}

#register-button {
  border-radius: 8px;
  font-family: 'Permanent Marker', cursive;
  background-color:#1B2D3F;
  margin-bottom: 0px;
  margin-top: 3px;
  &:hover {
    background-color: #3B5872;
  }

}

#register {
  text-align: center;
}

.alert {
  color: blue;
  background-color: #ededed;
}

.map h2 {
  text-align: center;
}

.header h1 {
}

.user-links {
  margin-top: 15px;
}

.map p {
  text-align: center;
}


#googft-mapCanvas {
  height: 450px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}

#googft-mapCanvas img{
  max-width:none;
  padding: 20px;
  }

.state_list {
  margin-top: 10px;
}

#list {
  margin-top: 10px;
}

#state-drop-dwn {
  margin-top: 3px;
}

.img {
  border-radius: 25px;
}

.alert {
  color: white;
}

.footer-link a {
  color: #1B2D3F;
  &:hover {
    color: #FFF;
    text-decoration: underline;
  }
}

footer p {
  color: #BED1D8;
}

#graph {
  height: 400px;
  width: 576px;
  border: 2px solid #0f0f0f;
  margin-top: 15px;
}

/*STATE PROFILE PAGE STYLING!!!!*/
.state-map {
  width: 350px;
  height: 350px;
  border: 2px solid #0f0f0f;
}

.state-info {
  height: 350px;
  width: 350px;
  border: 1px solid #000;
}

.state-gage-table {
  margin-top: 20px;
}

table {
  background: #92ACBE;
}


table td {
  border: 1px solid #030303;
  margin: 0;
  padding: 3px;
  width: 100%;
}

td a:hover {
  text-decoration: underline;
}
table tr th, table tr td {
  color: #1B2D3F;
}

table tbody tr td {
  line-height: 1em;
}

table thead tr th {
  background: #6D8BA7;
  color: #1B2D3F;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #BED1D8;
}


.pagination a {
  color: #FFF;
  &:hover {
    color: #3B5872;
  }
}

.current {
  color: #1B2D3F;
}

.active {
  background-color: lightgray;
}

.searchbutton {
  border-radius: 8px;
  display: inline;
}

.profile-box {
  width: 600px;
  height: 400px;
}

/* RIVER SHOW PAGE STYLING*/

#state-show h3 {
  padding-bottom: 20px;
  text-align: center;
}

#state-show h2 {
  margin-bottom: 2px;
  text-align: center;
}

#state-show img {
  margin: 0 auto;
  display:block;
}

.container {
  max-width: 968px;
  margin: 0 auto;
}

.narrow-container {
  max-width: 700px;
  margin: 0 auto;
}
}
