body {
/* background-image: asset-data-url('river-background.png');
 background-repeat: no-repeat;
 background-position: relative;
*/}

/* HEADER STYLING!!! */
.header {
  height: 150px;
}

.button {
  border-radius: 8px;
}

.alert {
  color: lightgray;
  background-color: #2d2d2d
}

.map h2 {
  text-align: center;
}

.header h1 {
}

.user-links {
  margin-top: 15px;
}

.map p {
  text-align: center;
}

.center-iframe {
  margin: 0 auto;
  display:block;
}

#googft-mapCanvas {
  height: 450px;
  margin: 0 auto;
  padding: 20px;
  width: 750px;
}

#googft-mapCanvas img{
  max-width:none;
  padding: 20px;
  }

#state-drop-dwn {
  padding-top: 15px;
}

.state_list {
  margin-top: 10px;
}
#list {
  margin-top: 10px;

}

.img {
  border-radius: 25px;
}

.alert {
  color: white;
}

.footer {
  text-align: right;
  height: 70px;
}

table td {
  border: 1px solid #030303;
  margin: 0;
  padding: 3px;
  width: 100%;
}

#graph {
  height: 400px;
  width: 576px;
  border: 2px solid #0f0f0f;
  margin-top: 15px;
}


/*STATE PROFILE PAGE STYLING!!!!*/
.state-map {
  width: 350px;
  height: 350px;
  border: 2px solid #0f0f0f;
}
.state-info {
  height: 350px;
  width: 350px;
  border: 1px solid #000;
}

.state-gage-table {
  margin-top: 20px;
}

.pagination li {
  list-style: none;
  display: inline;
  margin: 0 auto;
  padding: 7px;
  background-color: #2ba6cb;
  border-radius: 60px;
    a {
      color: #0F0F0F;
      padding: 10px;
      border-radius: 60px;
    &:hover {
      background-color: white;
      color: #0f0f0f;
    }
  }
}

.active {
  background-color: lightgray;
}

.searchbutton {
  border-radius: 8px;
  display: inline;
}

.profile-box {
  width: 600px;
  height: 400px;
}

/* RIVER SHOW PAGE STYLING*/

#state-show h2,h3,h4 {
  text-align: center;
}

#state-show h3 {
  padding-bottom: 20px;
}

#state-show h2 {
  margin-bottom: 2px;
}

#state-show img {
  margin: 0 auto;
  display:block;
}
